body, html {
  height: 100%;
  margin: 0px;
  animation: sab_fadeXslide-effect 1.8s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
  display: none;
}

.bg {
  /* The image used */
  background-image: url("../image/background-cgpa-calculator.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.clacu-body {
  background-color: rgba(44, 62, 80, 0.5);
  width: 65%;
  height: auto;
  margin: 40px auto 30px auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: white;
}

.userinput {
  padding: 40px 10px 10px;
  margin: auto;
  text-align: -webkit-center;
  text-align: -moz-center;
}
.form-control {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  margin: auto;

 }
 img{
  padding: 30px 0px;
 }
 h6{
  font-size: 15px;
 }
 .newgpa{
  width: 265px
 }
.clacu-body .form-control {
  width: 70%;
}

.outputboxCGPA {
  width: 150px;
  height: 130px;
  background-color: #00bd3f;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50px 0 0 50px;
  padding: 25px;
}

.outputboxCredit {
  width: 150px;
  height: 130px;
  background-color: #05ac72;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 50px 50px 0;
  padding: 25px;
}

.outputalign {
  margin-right: -30px;
}

.output {
  margin-left: 5%;
}

a {
  color: white;
}

a:hover {
  color: black;
  text-decoration: none;
}

.clacu-body .btn {
  width: 200px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
.btn {
  width: 130px;
}
.btn-bg{
  background-color: #6b9fc7;
  color: white;
  border: none;
}
.btn-bg:hover {
  background-color: #5781a1;
  color: white;
}
.clearbtn{
  margin: 10px 0px 30px 0px;
}

.modelcontent{
  background-color: rgb(255,255,255,0.6);
  /* align-items: center; */
}

button, input {
    overflow: hidden;
  }


@media only screen and (max-width: 627px) {
  .clacu-body {
    width: 90%;
  }
  h6{
    font-size: 13px;
  }

}
@media (max-width: 576px) {
  .modal-dialog {
    max-width: 350px;
    margin: 1.75rem auto;
  }
  .retakecredit, .oldgpa{
  width: 130px;
}
}

@media only screen and (max-width: 450px) {
  .clacu-body .form-control {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .output h2 {
    font-size: 27px;
  }

  .output h3 {
    font-size: 22px;
  }

  .outputboxCGPA {
    width: 110px;
    height: 105px;
    padding: 20px;
  }

  .outputboxCredit {
    width: 113px;
    height: 105px;
    padding: 20px 20px 20px 10px;
  }
  .modal-dialog {
    max-width: 300px;
    margin: 1.75rem auto;
  }
  .retakecredit, .oldgpa{
  width: 265px;
}
}

@media (max-width: 330px) {
  .modal-dialog {
    max-width: 280px;
    margin: 1.75rem auto;
  }
  .retakecredit, .oldgpa{
  width: 250px;
}
.btn {
  width: 140px;
  padding: 6px 6px;
}
h6{
  font-size: 12px;
}

}

@media only screen and (max-width: 300px) {
  .btn {
    width: auto;
    padding: 6px 12px
  }
}

@keyframes sab_fadeXslide-effect {
  from {
    transform: translatey(-80%);
  }

  to {
    transform: translatey(0%);
  }

  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
