body, html {
  height: 100%;
  margin: 0px;
  animation: sab_fadeXslide-effect 1.5s;
}
@keyframes sab_fadeXslide-effect {
  from {transform: translatey(-50%);}
  to   {transform: translatey(0%);}
  0%   {opacity: 0%;}
  100% {opacity: 100%;}
}
body::-webkit-scrollbar {
  display: none;
}
.bg {
  /* The image used */
  background-image: url("../image/background-cgpa-calculator.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  text-align: center;
}

.clacu-body{
	background-color: rgba(0, 0, 0, 0.3);
	width: 65%;
	height: 500px;
	margin:40px auto 0px auto;
	
	color: white;
}
.userinput{
	padding: 80px 10px;
	margin: auto;
	text-align: -webkit-center;
	text-align: -moz-center;
}
.form-control{
	width: 70%;
}
.outputbox{
	width: 150px;
	height: 150px;
	background-color: rgb(17, 180, 2);
	border-radius: 50px;
	padding: 25px;
}

@media only screen and (max-width: 950px) {
  .clacu-body{
	
}
}
@media only screen and (max-width: 767px) {
  .clacu-body{
	height: 650px;

}
}
@media only screen and (max-width: 450px) {
  .clacu-body{
	width: 90%;
}
.form-control{
	width: 90%;
}
}